In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.basketball-reference.com/leagues/NBA_2022_per_game.html'
#get function for the url
data = requests.get(url)

In [ ]:
#soup object
soup = BeautifulSoup(data.content, 'lxml')

In [ ]:
#list comprehension to get all 29 header values
headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
headers = headers[1:]

In [ ]:
#scrape all player stats for all players in rows
rows = soup.findAll('tr')[1:]
player_stats = [[td.getText() for td in rows[i].findAll('td')] for i in range(len(rows))]

In [ ]:
database = pd.DataFrame(player_stats, columns = headers)
database

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,.439,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,.547,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,.557,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,.402,...,.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,.550,...,.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,.465,...,.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
838,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,.460,...,.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
839,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,.526,...,.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
840,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,.567,...,.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2
841,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,.626,...,.727,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3

In [ ]:
#Rename some of the columns
database = database.rename(columns={'FG%': 'FG_Percentage', '3P': 'Three_Pointers', '3PA': 'Three_Pointers_Attempted','3P%': 'Three_Point_Percentage', '2P': 'Two_Pointers',
'2PA': 'Two_Pointers_Attempted', '2P%': 'Two_Point_Percentage', 'eFG%': 'Effective_FG_Percentage', 'FT%': 'Free_Throw_Percentage'})

In [ ]:
#Convert Column to a float
database['Age'] = database.Age.astype(float)
database['G'] = database.G.astype(float)
database['GS'] = database.GS.astype(float)
database['MP'] = database.MP.astype(float)
database['FG'] = database.FG.astype(float)
database['FGA'] = database.FGA.astype(float)
database['FT'] = database.FT.astype(float)
database['FTA'] = database.FTA.astype(float)
database['ORB'] = database.ORB.astype(float)
database['DRB'] = database.DRB.astype(float)
database['TRB'] = database.TRB.astype(float)
database['STL'] = database.STL.astype(float)
database['AST'] = database.AST.astype(float)
database['BLK'] = database.BLK.astype(float)
database['TOV'] = database.TOV.astype(float)
database['PF'] = database.PF.astype(float)
database['PTS'] = database.PTS.astype(float)
database['FG_Percentage'] = pd.to_numeric(database['FG_Percentage'])
database['Three_Pointers'] = pd.to_numeric(database['Three_Pointers'])
database['Three_Pointers_Attempted'] = pd.to_numeric(database['Three_Pointers_Attempted'])
database['Three_Point_Percentage'] = pd.to_numeric(database['Three_Point_Percentage'])
database['Two_Pointers'] = pd.to_numeric(database['Two_Pointers'])
database['Two_Pointers_Attempted'] = pd.to_numeric(database['Two_Pointers_Attempted'])
database['Two_Point_Percentage'] = pd.to_numeric(database['Two_Point_Percentage'])
database['Effective_FG_Percentage'] = pd.to_numeric(database['Effective_FG_Percentage'])
database['Free_Throw_Percentage'] = pd.to_numeric(database['Free_Throw_Percentage'])

database

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG_Percentage,...,Free_Throw_Percentage,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,C,22.0,TOR,73.0,28.0,23.6,3.6,8.3,0.439,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,Steven Adams,C,28.0,MEM,76.0,75.0,26.3,2.8,5.1,0.547,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,Bam Adebayo,C,24.0,MIA,56.0,56.0,32.6,7.3,13.0,0.557,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,Santi Aldama,PF,21.0,MEM,32.0,0.0,11.3,1.7,4.1,0.402,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,LaMarcus Aldridge,C,36.0,BRK,47.0,12.0,22.3,5.4,9.7,0.550,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,Thaddeus Young,PF,33.0,TOR,26.0,0.0,18.3,2.6,5.5,0.465,...,0.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
838,Trae Young,PG,23.0,ATL,76.0,76.0,34.9,9.4,20.3,0.460,...,0.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
839,Omer Yurtseven,C,23.0,MIA,56.0,12.0,12.6,2.3,4.4,0.526,...,0.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
840,Cody Zeller,C,29.0,POR,27.0,0.0,13.1,1.9,3.3,0.567,...,0.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2
841,Ivica Zubac,C,24.0,LAC,76.0,76.0,24.4,4.1,6.5,0.626,...,0.727,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3

In [ ]:
database['Age'].describe()

count    812.000000
mean      26.051724
std        4.059640
min       19.000000
25%       23.000000
50%       25.000000
75%       29.000000
max       41.000000
Name: Age, dtype: float64

In [ ]:
database['PTS'].describe()

count    812.000000
mean       7.812438
std        6.138077
min        0.000000
25%        3.300000
50%        6.300000
75%       10.600000
max       30.600000
Name: PTS, dtype: float64

In [ ]:
database['Free_Throw_Percentage'].describe()

count    715.000000
mean       0.747571
std        0.156305
min        0.000000
25%        0.673500
50%        0.765000
75%        0.846000
max        1.000000
Name: Free_Throw_Percentage, dtype: float64