In [3]:
pip install -U beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\sierr\appdata\local\programs\python\python310\lib\site-packages (4.12.0)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\Sierr\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: soupsieve>1.2 in c:\users\sierr\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4) (2.4)

In [6]:
#print out all job titles
import requests as rq
from bs4 import BeautifulSoup as bs
url = 'https://www.robota.app/'
r = rq.get(url)
html_contents = r.text
html_soup = bs(html_contents)

#job titles in website has a class of "font-bold hover:underline group/link group-hover/post:text-blue-700"
print(html_soup.find("a", class_ = "font-bold hover:underline group/link group-hover/post:text-blue-700"))

<a class="font-bold hover:underline group/link group-hover/post:text-blue-700" href="https://www.carvana.com/careers/apply?gh_jid=4958495">Data Entry Specialist</a>

In [7]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
job_titles = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)

    #find all job titles for each
    for a in soup.find_all("a", class_ = "font-bold hover:underline group/link group-hover/post:text-blue-700"):
        job_titles.append(a.get_text(strip = True))

    #continue to next page    
    page = page + 1

In [8]:
#turn list into data frame
import pandas as pd
df = pd.DataFrame(job_titles, columns = ['Job Title'])

df

                                         Job Title
0        Manager, Contracting Center of Excellence
1    Managing Director, Healthcare, Health Systems
2    Managing Director, Healthcare, Health Systems
3                         Customer Success Manager
4                          Sr. Manager, Purchasing
..                                             ...
220            Senior Manager of Demand Generation
221           Senior Java backend Developer (8630)
222         Global People Team Intern, Summer 2023
223   Medical Assistant Care Coordinator - Helotes
224                           Salesforce Developer

[225 rows x 1 columns]

In [9]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
company_name = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)

    #find all job titles for each
    for a in soup.find_all("a", class_ = "font-normal hover:underline"):
        company_name.append(a.get_text(strip = True))

    #continue to next page    
    page = page + 1

In [10]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
company_name = []
job_titles = []
salary = []
languages = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?toggle[hasSalary]=true&toggle[perkTags]=false&page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)

    #find the name of all company
    for a in soup.find_all("a", class_ = "font-normal hover:underline"):
        company_name.append(a.get_text(strip = True))

    #find all job titles 
    for a in soup.find_all("a", class_ = "font-bold hover:underline group/link group-hover/post:text-blue-700"):
        job_titles.append(a.get_text(strip = True))

    #find the job salary for each position
    for div in soup.find_all("div", class_ = "text-green-700"):
        salary.append(div.get_text(strip = True))



    #find the languages used
    for a in soup.find_all("a", class_ = "text-xs font-semibold py-1 px-2 rounded-lg bg-cyan-100 hover:bg-cyan-200"):
        languages.append(a.get_text(strip = True))
    #continue to next page    
    page = page + 1

In [11]:
df_company_name = pd.DataFrame(company_name, columns = ["Name of Company"])
df_job_title = pd.DataFrame(job_titles, columns = ['Job Title'])
df_salary = pd.DataFrame(salary, columns=["Salary"])

In [12]:
merge = pd.concat([df_company_name, df_job_title.reindex(df_company_name.index), df_salary], axis=1)
merge

,Name of Company,Job Title,Salary
0,Accruent,Software Engineer in Test,$77k - $144k
1,Authentic8,Platform Engineer/Site Reliability Engineer (c...,$165k - $185k
2,Authentic8,Platform Engineer/Site Reliability Engineer,$165k - $185k
3,Oscar Health,"Manager, Contracting Center of Excellence",$108k - $142k
4,"Magic Leap, Inc.",R&D Lamination Process Engineer,$93k - $128k
...,...,...,...
220,Stealth Ventures at Redesign Health,Chief of Staff | ER Efficiency Platform,$150k - $160k
221,Subsplash,Account Manager II - Client Success Team,$89k - $95k
222,Reddit,"Senior Product manager, Ads Marketplace: E-com...",$183k - $276k
223,Nextdoor,Ad Operations Manager,$65k - $128k
224,Okta,"Sales Director, FSI",$320k - $480k

In [13]:
df_languages = pd.DataFrame(languages, columns= ["Languages"])
df_languages

      Languages
0       android
1            c#
2           ios
3          java
4        python
..          ...
336         sql
337       azure
338  javascript
339        node
340         sql

[341 rows x 1 columns]

In [14]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
list = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?toggle[hasSalary]=true&toggle[perkTags]=false&page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)
#find the job salary for each position
    for div in soup.find_all("div", class_ = "text-green-700"):
        list.append(div.get_text(strip = True))

    page = page + 1