In [4]:
pip install -U beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\sierr\appdata\local\programs\python\python310\lib\site-packages (4.12.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\sierr\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4) (2.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\Sierr\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [5]:
#print out all job titles
import requests
from bs4 import BeautifulSoup as bs
url = 'https://www.robota.app/'
r = requests.get(url)
html_contents = r.text
html_soup = bs(html_contents)

#job titles in website has a class of "font-bold hover:underline group/link group-hover/post:text-blue-700"
print(html_soup.find("a", class_ = "font-bold hover:underline group/link group-hover/post:text-blue-700"))

<a class="font-bold hover:underline group/link group-hover/post:text-blue-700" href="https://app.careerpuck.com/job-board/lyft/job/6610060002?gh_jid=6610060002">Associate Service Mechanic</a>

In [6]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
job_titles = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)

    #find all job titles for each
    for a in soup.find_all("a", class_ = "font-bold hover:underline group/link group-hover/post:text-blue-700"):
        job_titles.append(a.get_text(strip = True))

    #continue to next page    
    page = page + 1

In [7]:
#turn list into data frame
import pandas as pd
df = pd.DataFrame(job_titles, columns = ['Job Title'])

df

                                             Job Title
0                           Associate Service Mechanic
1    Regional Sr Director of Operations - [Michigan...
2                           Regional Commercial Leader
3              Customer Support Analyst, Rosetta Stone
4                                   Facilities Manager
..                                                 ...
220                            Email Marketing Manager
221   Senior Manager, International Growth (Community)
222  Senior Backend Engineer - Client Journey (Remo...
223                                    Seasonal Runner
224                       Sr. Field Service Technician

[225 rows x 1 columns]

In [8]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
company_name = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)

    #find all job titles for each
    for a in soup.find_all("a", class_ = "font-normal hover:underline"):
        company_name.append(a.get_text(strip = True))

    #continue to next page    
    page = page + 1

In [9]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
company_name = []
job_titles = []
salary = []
languages = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?toggle[hasSalary]=true&toggle[perkTags]=false&page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)

    #find the name of all company
    for a in soup.find_all("a", class_ = "font-normal hover:underline"):
        company_name.append(a.get_text(strip = True))

    #find all job titles 
    for a in soup.find_all("a", class_ = "font-bold hover:underline group/link group-hover/post:text-blue-700"):
        job_titles.append(a.get_text(strip = True))

    #find the job salary for each position
    for div in soup.find_all("div", class_ = "text-green-700"):
        salary.append(div.get_text(strip = True))



    #find the languages used
    for a in soup.find_all("a", class_ = "text-xs font-semibold py-1 px-2 rounded-lg bg-cyan-100 hover:bg-cyan-200"):
        languages.append(a.get_text(strip = True))
    #continue to next page    
    page = page + 1

In [66]:
df_company_name = pd.DataFrame(company_name, columns = ["Name of Company"])
df_job_title = pd.DataFrame(job_titles, columns = ['Job Title'])
df_salary = pd.DataFrame(salary, columns=["Salary"])

In [72]:
merge = pd.concat([df_company_name, df_job_title.reindex(df_company_name.index), df_salary], axis=1)
merge

,Name of Company,Job Title,Salary
0,Gymshark,Digital Product Content Associate - Ecommerce,$58k - $65k
1,Lincoln International,"Vice President, Valuations",$175k - $200k
2,Skydio,Senior Software Engineer - Fullstack,$170k - $258k
3,Bugcrowd,Director of Demand Generation,$144k - $198k
4,Gro Intelligence Careers,"Senior Data Scientist, Modeling",$155k - $210k
...,...,...,...
220,One Medical,"Primary Care Physician, Employer Health - Sign...",$244k - $260k
221,One Medical,"Primary Care Physician, Employer Health - Sign...",$244k - $260k
222,One Medical,Family Nurse Practitioner or Physician Assista...,$143k - $152k
223,One Medical,Nurse Practitioner or Physician Assistant - Si...,$143k - $152k
224,Businessolver,Consumer Benefits File Analyst (Work 100% Remo...,$50k - $60k

In [58]:
df_languages = pd.DataFrame(languages, columns= ["Languages"])
df_languages

       Languages
0            aws
1         python
2          react
3     typescript
4            aws
..           ...
247          c++
248  objective-c
249        swift
250          sql
251          sql

[252 rows x 1 columns]

In [81]:
#go through the whole robota website
#program will run from page 1 to 12442
page = 1
page_end = 10 # total pages 12442
list = []

#will loop until it hit all the pages in the website
while page != page_end:
    url = f"https://www.robota.app/?toggle[hasSalary]=true&toggle[perkTags]=false&page={page}"
    response = rq.get(url)
    html = response.content
    soup = bs(html)
#find the job salary for each position
    for div in soup.find_all("div", class_ = "text-green-700"):
        list.append(div.get_text(strip = True))

    page = page + 1